.table, th, td {
    border:1px solid black;
  }
#h{
    text-align: center;
}
#p1{
    text-align: center;
    color: lawngreen;
}
  #black {
    background-color:black;
  }
#teal{
    background-color: teal;
}
#blue{
    background-color: blue;
}
       
#navy{
    background-color: navy;
}
       
 
#lime{
    background-color: lime;
}
#white{
    background-color:white;
}
       
    

#purple{
    background-color: purple;
}
        
   
#ywllow{
    background-color: yellow;
}
           
    
#olive{
    background-color: olive;
}
        
#red{
    background-color: red;
}
      
  
#black{
    background-color: black;
}
        
    
#gray{
    background-color: gray;
}
  
    

 
#olie{
    background-color: olive;
}
      
#red{
    background-color: red;
}
#fushsia{
    background-color: fuchsia;
}
        
#green{
    background-color: green;
}
        
    
#aqua{
    background-color: aqua;
}
       
   
#sliver{
    background-color: sli;
}
       